<app-header></app-header>

<div class="feed">
    <div class="nav_div">
        <nav class="nav">

            <a class="nav_link" routerLink="/feed">news</a>
            <br>
            <a class="nav_link" routerLink="/friends">Friends</a>
            <br>
            <a class="nav_link" routerLink="/friend-add">friend add</a>
            <br>
            <a class="nav_link" routerLink="/friend-requests">friend requests</a>
            <br>
        </nav>
    </div>
    <div class="friends">
        <div class="profile_div">
            <div *ngFor="let friend of friends">
                <div class="profile">
                    <img class="profile_img" src="../../assets/img_avatar.png" alt="">
                    <p class="profile_text">{{friend.name}}</p>
                    <button *ngIf="friend.status=='pending'" mat-flat-button>pending</button>
                    <button *ngIf="friend.status=='pending'" mat-flat-button (click)="cancelPending(friend)">✖</button>
                    <button *ngIf="friend.status=='notFriend'" mat-flat-button color="primary"
                        (click)="add(friend)">add+</button>
                    <button *ngIf="friend.status=='notFriend'" mat-flat-button color="warn"
                        (click)="delete(friend)">delete</button>
                </div>
                <mat-divider></mat-divider>
            </div>
        </div>
    </div>
</div>