<div class="header">
    <div class="header-content">
        <div class="logo">
            <img class="logo_img" src="../../assets/corgi.png" alt="">
            <h1 class="logo_text">Dog funs</h1>
        </div>
        <div class="profile">
            <button mat-button [matMenuTriggerFor]="menu" #menuTrigger>Menu</button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="openDialog()">Open dialog</button>
            </mat-menu>
            <img class="profile_img" src="../../assets/img_avatar.png" alt="">
        </div>
    </div>
</div>