.header{
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}
.header-content {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.logo{
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.logo_img{
    width: 5vh;
}
.logo_text{
    font-size: 5vh;
    margin: 0 auto 0 0;
}
.profile{
    display: flex;
    align-items: center;
}
.profile_img{
    width: 5vh;
    border-radius: 50%;
}