<app-header></app-header>

<div class="feed">
    <div class="nav_div">
        <nav class="nav">

            <a class="nav_link" routerLink="">news</a>
            <br>
            <a class="nav_link" routerLink="friends">Friends</a>
            <br>
            <a class="nav_link" href="contact.html">Contact</a>
        </nav>
    </div>
    <div class="feed_content">
        <div *ngFor="let post of posts" class="card">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>{{post.name}}</mat-card-title>
                    <mat-card-subtitle>{{post.username}}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        {{post.description}}
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <div class="click_zone">
                        <!-- <button mat-button (click)="onLike(post._id)"> -->

                        <input (change)="onCheckboxChange($event,post._id)" type="checkbox" id="checkbox" />
                        <label for="checkbox">
                            <svg id="heart-svg" viewBox="467 392 58 57" xmlns="http://www.w3.org/2000/svg">
                                <g id="Group" fill="none" fill-rule="evenodd" transform="translate(467 392)">
                                    <path
                                        d="M29.144 20.773c-.063-.13-4.227-8.67-11.44-2.59C7.63 28.795 28.94 43.256 29.143 43.394c.204-.138 21.513-14.6 11.44-25.213-7.214-6.08-11.377 2.46-11.44 2.59z"
                                        id="heart" fill="#AAB8C2" />
                                    <circle id="main-circ" fill="#E2264D" opacity="0" cx="29.5" cy="29.5" r="1.5" />

                                    <g id="grp7" opacity="0" transform="translate(7 6)">
                                        <circle id="oval1" fill="#9CD8C3" cx="2" cy="6" r="2" />
                                        <circle id="oval2" fill="#8CE8C3" cx="5" cy="2" r="2" />
                                    </g>

                                    <g id="grp6" opacity="0" transform="translate(0 28)">
                                        <circle id="oval1" fill="#CC8EF5" cx="2" cy="7" r="2" />
                                        <circle id="oval2" fill="#91D2FA" cx="3" cy="2" r="2" />
                                    </g>

                                    <g id="grp3" opacity="0" transform="translate(52 28)">
                                        <circle id="oval2" fill="#9CD8C3" cx="2" cy="7" r="2" />
                                        <circle id="oval1" fill="#8CE8C3" cx="4" cy="2" r="2" />
                                    </g>

                                    <g id="grp2" opacity="0" transform="translate(44 6)">
                                        <circle id="oval2" fill="#CC8EF5" cx="5" cy="6" r="2" />
                                        <circle id="oval1" fill="#CC8EF5" cx="2" cy="2" r="2" />
                                    </g>

                                    <g id="grp5" opacity="0" transform="translate(14 50)">
                                        <circle id="oval1" fill="#91D2FA" cx="6" cy="5" r="2" />
                                        <circle id="oval2" fill="#91D2FA" cx="2" cy="2" r="2" />
                                    </g>

                                    <g id="grp4" opacity="0" transform="translate(35 50)">
                                        <circle id="oval1" fill="#F48EA7" cx="6" cy="5" r="2" />
                                        <circle id="oval2" fill="#F48EA7" cx="2" cy="2" r="2" />
                                    </g>

                                    <g id="grp1" opacity="0" transform="translate(24)">
                                        <circle id="oval1" fill="#9FC7FA" cx="2.5" cy="3" r="2" />
                                        <circle id="oval2" fill="#9FC7FA" cx="7.5" cy="2" r="2" />
                                    </g>
                                </g>
                            </svg>
                        </label>
                        <!-- </button> -->
                        <p>{{post.like}}</p>



                        <!-- <button mat-button>LIKE</button> -->
                        <button mat-button>SHARE</button>
                    </div>

                </mat-card-actions>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Comments
                        </mat-panel-title>
                        <mat-panel-description>

                        </mat-panel-description>
                    </mat-expansion-panel-header>

                    <mat-divider></mat-divider>
                    <mat-form-field appearance="fill">
                        <mat-label>Description</mat-label>
                        <textarea matInput [(ngModel)]="comment_user.content"></textarea>
                    </mat-form-field>
                    <button mat-button class="btn btn-default" (click)="submit(comment_user,post)">Отправить</button>

                    <div class="profile_div">
                        <mat-list>
                            <div *ngFor="let comment of post.comments">
                                <mat-list-item>
                                    <div class="profile">
                                        <p class="profile_text">{{comment.name}}</p>
                                        <p class="profile_text">{{comment.content}}</p>
                                    </div>
                                </mat-list-item>
                                <mat-divider></mat-divider>
                            </div>

                        </mat-list>
                    </div>
                </mat-expansion-panel>
            </mat-card>
        </div>
    </div>
    <div class="nav_div">
        <div class="profile_div">
            <mat-list>
                <mat-list-item>
                    <div class="profile">
                        <p class="profile_text">Timur</p>
                        <img class="profile_img" src="../../assets/img_avatar.png" alt="">
                        <button mat-flat-button color="primary">add+</button>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="profile">
                        <p class="profile_text">Timur</p>
                        <img class="profile_img" src="../../assets/img_avatar.png" alt="">
                        <button mat-flat-button color="primary">add+</button>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="profile">
                        <p class="profile_text">Timur</p>
                        <img class="profile_img" src="../../assets/img_avatar.png" alt="">
                        <button mat-flat-button color="primary">add+</button>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>


    </div>
</div>