<app-header></app-header>

<div class="feed">
    <div class="nav_div">
        <nav class="nav">

            <a class="nav_link" routerLink="">news</a>
            <br>
            <a class="nav_link" routerLink="friends">Friends</a>
            <br>
            <a class="nav_link" href="contact.html">Contact</a>
        </nav>
    </div>
    <div class="feed_content">

        <div class="card">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
        <div class="card">
            <mat-card class="example-card">
                <mat-card-header>
                    <div mat-card-avatar class="example-header-image"></div>
                    <mat-card-title>Shiba Inu</mat-card-title>
                    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                    alt="Photo of a Shiba Inu">
                <mat-card-content>
                    <p>
                        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                        bred for hunting.
                    </p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button>LIKE</button>
                    <button mat-button>SHARE</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
    <div class="nav_div">
        <div class="profile_div">
            <mat-list>
                <mat-list-item>
                    <div class="profile">
                        <p class="profile_text">Timur</p>
                        <img class="profile_img" src="../../assets/img_avatar.png" alt="">
                        <button mat-flat-button color="primary">add+</button>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="profile">
                        <p class="profile_text">Timur</p>
                        <img class="profile_img" src="../../assets/img_avatar.png" alt="">
                        <button mat-flat-button color="primary">add+</button>
                    </div>
                </mat-list-item>
                <mat-divider></mat-divider>
                <mat-list-item>
                    <div class="profile">
                        <p class="profile_text">Timur</p>
                        <img class="profile_img" src="../../assets/img_avatar.png" alt="">
                        <button mat-flat-button color="primary">add+</button>
                    </div>
                </mat-list-item>
            </mat-list>
        </div>


    </div>
</div>